*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #a292b3;
    
}
.page{
    width: 1300px;
    margin: 0 auto;
    background-color: #fff;
}


/* header */
header{
    
    margin-top: 8px;
}
/* conteiner */
.conteiner{
    width: 1018px;
    margin: 0 auto;
}

/* row */
.row::after, .logo::after, .row_menu::after, .section::after, .row_aside:after{
    content: "";
    display: block;
    clear: both;
}
.col-md-418{
    width: 418px;
}
.col-md-600{
     width: 600px;
}
[class*="col-"], [class*="logo_"], .section_pic, .section_text,
[class*="row_aside_"]{
    float: left;
}

/* logo */
.logo{
    height: 130px;
   
}
.logo_img{
    display: block;
    padding: 30px 0;

}
.logo_title{
    display: block;
    line-height: 130px;
    font-size: 39px;
    color: #a99ab9;
    font-weight: 400;
    text-transform: uppercase;
}

/* menu */
.col-md-150{
    width: 150px;
    height: 130px;
}
.row_menu>div>a{
    text-decoration: none;
    line-height: 130px;
    color: #a99ab9;
    font-size: 19px;
    font-weight: 400;
    padding-left: 20px;
}
.row_menu>div:last-child>a{
    padding-left: 10px;
}
.row_menu>div>a:hover{
    text-shadow: 0 0 1px #81699D;
    transition: 0.3s linear;
}


/* main */
/* slider */
.slider{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.slider_img{
    width: 100%;
    
}
.slider::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-35px);
    left: 0;
    width: 34px;
    height: 65px;
    background-image: url(../img/background/left.jpg);
    cursor: pointer;
}
.slider::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-35px);
    right: 0;
    width: 34px;
    height: 65px;
    background-image: url(../img/background/right.jpg);
    cursor: pointer;
}
.slider_titile{
    position: absolute;
    display: block;
    top: 130px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 117px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: -4px 4px rgb(146, 143, 143);
}
.slider_text{
    position: absolute;
    display: block;
    top: 258px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 31px;
    font-family: 'Philosopher', sans-serif;
    text-shadow: -2px 1px rgb(146, 143, 143);
}

/* slogan */
.slogan{
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    margin: 0 10px;
    padding: 20px 35px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    color: #494848;
    font-size: 23px;
    text-align: center;
    line-height: 1.5;
    
}
.slogan>span{
    font-weight: 700;
    color: #82699d;
}

/* section */

.section{
    margin: 0 10px;
    position: relative;
}

.section_pic{
    width: 360px;
}
.section_pic>img{
    margin: 30px 0 5px 10px;
}
.section_text{
    width: 638px;
    
}
.section_text>h2{
    font-size: 31px;
    font-weight: 700;
    color: #505051;
    margin: 80px 0 30px 0;
}
.section_text>p{
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.more{
    position: absolute;
    right: 0;
    bottom: 0;
}
.more>span{
    font-size: 13px;
    font-style: italic;
    color: #959595;
    cursor: pointer;

}
.more>span::after{
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url(../img/icon/33.jpg);
    margin-left: 6px;
}

/* aside */
.aside{
    margin-top: 60px;
}
.row_aside_title{
    width: 325px;
    font-size: 20px;
    font-weight: 400;
}
.row_aside_title>span{
    font-weight: 700;
}
.row_aside_point{
    color: #E2E2E2;
    width: 693px;
    overflow: hidden;
    line-height: 0.3;
}

/* companies */
.companies{
    margin-top: 40px;
}
.companies:after{
    content: "";
    display: block;
    clear: both;
}
.companies_img{
    float: left;
    width: 25%;
    height: 75px;
    background-color: #F5F5F5;
    border: 1px solid #E4E4E4;
}
.companies_img>img{
    display: block;
    margin: auto;
    transform: translateY(20px);
    
}
